.loadMoreButton {
  display: flex;
  gap: 0 2rem;
}

.loadMore {
  background: transparent;
  border: 1px solid var(--grey);
  border-radius: 5px;
  color: var(--grey);
  font-family: poppins;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  width: fit-content;
  margin-top: 4rem;
  cursor: pointer;
  display: inline-block;
}

.loadMore:hover {
  mask-image: linear-gradient(-75deg,
      var(--grey) 30%,
      #000 50%,
      var(--grey) 70%);
  mask-size: 200%;
  animation: shine 1s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}